<h1>Color picker</h1>

<div class="container">
<div class="input-group">
    <input id="red" data-fgColor="#ff5454" type="text" value="0" class="dial" data-angleOffset="90" data-linecap="round"
    >
    <input id="green" data-fgColor="#6ddc39" type="text" value="0" class="dial" data-angleOffset="90" data-linecap="round">
    <input id="blue" data-fgColor="#20bdff" type="text" value="0" class="dial" data-angleOffset="90" data-linecap="round">
    <input id="op" data-fgColor="#333" type="text" value="0" class="dial" data-angleOffset="90" data-linecap="round">

</div>
    <div class="bgcolor" ></div>
    <p class="value-color">rgba()</p>
</div>
